<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<a routerLink="family">Family</a> &nbsp;
<a routerLink="directive">Directive & Pipes</a> &nbsp;
<a routerLink="form">Forms</a> &nbsp;
<a routerLink="task">Task</a> &nbsp;
<a routerLink="local">Local Service</a> &nbsp;
<a routerLink="local2">Local Service2</a> &nbsp;
<a routerLink="remote">Remote API</a> &nbsp;
<a routerLink="bank">Bank</a> &nbsp;
<br>
<router-outlet></router-outlet>




